.card__container{
    gap: 1.5rem;
    margin-top: 2rem;
}

.card{
    flex-shrink: 0;
    /* width: 10.5rem; */
    width: 15rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card:hover .card__image img {
    transform: scale(1.15);
}


.card__image img{
    transition: all 300ms;
    object-fit: cover;
}

.card__image{
    /* height: 15.625rem; */
    height: 20rem;
    overflow: hidden;
}

.card__content{
    /* padding: 0.8rem; */
    padding: 1rem;
    background: linear-gradient(60deg, var(--color-purple), var(--color-purple-dark)) ;
}

.card__title{
    /* font-size: 0.9rem; */
    font-size: 1rem;
    text-align: center;
    color: var(--color-white);
    text-wrap: nowrap !important;
}
