.card__container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.card{
    flex-shrink: 0;
    width: 10.5rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card:hover .card__image img {
    transform: scale(1.15);
}


.card__image img{
    transition: all 300ms;
    object-fit: cover;
}

.card__image{
    height: 15.625rem;
    overflow: hidden;
}

.card__content{
    padding: 0.8rem;
    background: linear-gradient(60deg, #960EF3, #710EB4) !important;
}

.card__title{
    font-size: 0.9rem;
    text-align: center;
    color: #fff;
    text-wrap: nowrap !important;
}
