<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="card__container">

        <figure class="card font-sans" onclick="{{link}}">
            <div class="card__image">
                <img class="card__image" src="https://xalaflix.io/upload/images/dHWiUNjt9Msi55dIEl9Vh9PFc2V.jpg" alt="{{title}}">
            </div>
            <figcaption class="card__content">
                <h2 class="card__title">
                    Plankton : Le film            
                </h2>
            </figcaption>
        </figure>   
        
    </div>
</body>
</html>






<!-- <figure class="card font-sans" onclick="{{link}}">
    <div class="card__image">
        <img class="card__image" src="{{image}}" alt="{{title}}">
    </div>
    <figcaption class="card__content">
        <h2 class="card__title">
            {{title}}
        </h2>
    </figcaption>
</figure> -->