@layer reset, variables, components, utilities;

@import "./reset.css" layer(reset);
@import "./variables.css" layer(variables);
@import "./utilities.css" layer(utilities);

@import "../component/NavBar/style.css" layer(components);
@import "../component/CardMovie/style.css" layer(components);
@import "../component/MovieDetail/style.css" layer(components);
@import "../component/MovieCategory/style.css" layer(components);
@import "../component/NoResultCard/style.css" layer(components);
@import "../component/BookmarkResult/style.css" layer(components); 
@import "../component/FeaturedMovie/style.css" layer(components);  
@import "../component/SearchBar/style.css" layer(components);




body{
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
}




/* Style pour les notifications Toastify */
.toast-message {
    font-family: var(--ff-sans) !important;
    font-size: 0.9rem !important;
    padding: 16px 24px !important;
    border-radius: 8px !important;
    display: flex !important;
    align-items: center !important;
    gap: 12px !important;
}

.toast-message i {
    font-size: 1.2rem !important;
    display: inline-flex !important;
}

.toastify {
    background-color: var(--color-primary) !important;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2) !important;
}

/* Style de la barre de progression */
.toastify .toastify-progress {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.5)
    ) !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    height: 3px !important;
    width: 100% !important;
}

/* Style du bouton de fermeture */
.toast-close {
    opacity: 0.7 !important;
    padding: 0 !important;
    margin-left: auto !important;
    font-size: 1.2rem !important;
    color: white !important;
    cursor: pointer !important;
    background: none !important;
    border: none !important;
}

.toast-close:hover {
    opacity: 1 !important;
}