@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
  /* Primitive Tokens */
  --color-black: hsl(253, 69%, 8%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 80%);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-dark: hsl(0, 0%, 20%);
  --color-purple:#960EF3;
  --color-purple-dark:#710EB4;
  --color-blue-dark:#0e0620;

  --color-error: hsla(0, 100%, 50%, 0.952);

  --ff-sans: "Nunito", sans-serif;

  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-bg: var(--color-blue-dark);
  --color-primary: var(--color-purple);

  --card-bg: var(--color-white);
  --card-title: var(--color-white);

}
