<div class="tvapp">
    <div class="tvapp__header">
      <h2 class="tvapp__title">TOUTE LA TV SUR UNE SEULE APP</h2>
      <div class="tvapp__subtitle">Inclus dans toutes nos offres à partir de 2€/mois</div>
      <a href="#" class="tvapp__cta">Découvrir TV+</a>
    </div>
    
    <div class="tvapp__carousel">
      <div class="tvapp__channel">
        <img src="../server/images/mytf1.webp" alt="MY TF1" class="tvapp__logo">
      </div>
      <div class="tvapp__channel">
        <img src="../server/images/francetv.webp" alt="france.tv" class="tvapp__logo">
      </div>
      <div class="tvapp__channel">
        <img src="../server/images/canalplus.webp" alt="CANAL+" class="tvapp__logo">
      </div>
      <div class="tvapp__channel">
        <img src="../server/images/arte.webp" alt="arte" class="tvapp__logo">
      </div>
      <div class="tvapp__channel">
        <img src="../server/images/m6.webp" alt="M6" class="tvapp__logo">
      </div>
      <div class="tvapp__channel">
        <img src="../server/images/tmc.webp" alt="TMC" class="tvapp__logo">
      </div>
      <div class="tvapp__channel">
        <img src="../server/images/cnews.webp" alt="C NEWS" class="tvapp__logo">
      </div>
      <div class="tvapp__channel">
        <img src="../server/images/cstar.webp" alt="C STAR" class="tvapp__logo">
      </div>
      <div class="tvapp__channel">
        <img src="../server/images/gulli.webp" alt="gulli" class="tvapp__logo">
      </div>
      <div class="tvapp__channel">
        <img src="../server/images/rmcbfm.webp" alt="RMC BFM play" class="tvapp__logo">
      </div>
      <div class="tvapp__channel">
        <img src="../server/images/cherie.webp" alt="Chérie 25" class="tvapp__logo">
      </div>
      <button class="tvapp__nav tvapp__nav--next" aria-label="Voir plus de chaînes">
        <span class="tvapp__nav-icon">›</span>
      </button>
    </div>
  </div>