
.menu {
    width:210px;
    margin-left: 0;
    text-align: center;
    font-family: 'Corinthia', cursive;
    font-size: xx-large;
    font-weight:700;
}

.menu div {
    padding-top: 1em;
   
}

.menu section {
    padding: 0.7em;
}

.menu span{
    margin:10px;
    display: inline-block;
    color: white;
}
