.features {
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem 2rem 3rem;
  font-family: var(--ff-canal);
}

.features__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.features__title {
  font-size: 2.2rem;
  font-weight: 600;
  font-family: var(--ff-canal);
  text-transform: uppercase;
  color: var(--color-white);
  line-height: 1.2;
}

.features__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 28rem;
  padding: 1rem;
  text-align: left;
}

.feature__icon img {
  width: auto;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.feature__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-white);
  font-family: var(--ff-sans);
  text-transform: capitalize;
}

.feature__text {
  font-family: var(--ff-sans);
  color: var(--color-gray);
  font-size: 1rem;
  line-height: 1.4;
}