<section class="features">
    <div class="features__header">
        <h2 class="features__title">CANAL+ À CHEVAL SUR SES VALEURS</h2>
    </div>

    <div class="features__container">
        <figure class="feature">
            <div class="feature__icon">
                <img src="../server/images/cinema.png" alt="Icon Cinema">
            </div>
            <figcaption>
                <h2 class="feature__title">Partenaire du cinéma</h2>
                <p class="feature__text">Partenaire historique du cinéma français, CANAL+ accorde une place privilégiée
                    au 7ème art. Les chaînes CANAL+ diffusent plus de 500 films dont quelques 350 en première diffusion
                    TV par an, ainsi que les grands rendez-vous annuels du cinéma.</p>
            </figcaption>
        </figure>
        <figure class="feature">
            <div class="feature__icon">
                <img src="../server/images/flag.png" alt="Icon France">
            </div>
            <figcaption>
                <h2 class="feature__title">Made in France </h2>
                <p class="feature__text">Fort de ses nombreux talents, de son expertise éditoriale et technologique,
                    CANAL+ est fier de proposer à ses abonnés des programmes exclusifs et originaux, conçus et produits
                    en France et accessibles sur une plateforme innovante.

                </p>
            </figcaption>
        </figure>
        <figure class="feature">
            <div class="feature__icon">
                <img src="../server/images/book.png" alt="Icon Pinceau">
            </div>
            <figcaption>
                <h2 class="feature__title">Engagement et responsabilité
                </h2>
                <p class="feature__text">CANAL+ a conscience de sa responsabilité en tant que média, producteur,
                    distributeur et agrégateur de contenus et souhaite à ce titre représenter la société dans toute sa
                    diversité. Nous agissons également pour améliorer l’accessibilité de nos interfaces et la réduction
                    de notre empreinte carbone.

                </p>
            </figcaption>
        </figure>

    </div>
</section>