<div class="comments-section">
    <h3 class="comments-title">Commentaires</h3>
    <div class="comment-form">
        <textarea 
            id="commentInput"
            class="comment-input" 
            placeholder="Partagez votre avis..."
            maxlength="280"
        ></textarea>
        <button onclick="C.handleAddComment({{movieId}})" class="comment-submit">
            Commenter
        </button>
    </div>
    <div class="comments-list">
        {{commentsList}}
    </div>
</div>