<form class="addUser__form">
  <h2 class="form__title">Ajouter un utilisateur</h2>

  <div class="form">

    <div class="form__group form__group--full">
      <div class="input__container">
        <label for="name">Nom de l'utilisateur</label>
        <input required type="text" name="name" placeholder="Julien.B" pattern="[^0-9]*" title="Numbers are not allowed">
      </div>
    </div>
    <div class="form__group form__group--full">
      <div class="input__container">
        <label for="image">Image</label>
        <input type="text" name="image" placeholder="no_user.jpg">
      </div>
    </div>

    <div class="form__group form__group--full">
      <div class="input__container">
        <label for="birth">Date de naissance</label>
        <input required type="date" name="birth">
      </div>
    </div>

    <div class="form__group form__group--full">
      <input onclick="{{handlerUser}}" class="user__button" type="button" value="Ajouté un utilisateur" name="todo">
    </div>

  </div>
</form>
