<figure class="detail font-sans">
    <div class="detail__video">
      <iframe 
        class="detail__video-frame"
        width="100%" 
        height="400" 
        src="{{trailer}}" 
        title="YouTube video player" 
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
  
    <div class="detail__container flex">
      <img class="detail__poster" src="../server/images/{{img}}" alt="{{alt}}">
  
      <figcaption class="detail__infos">
        <h2 class="detail__title">{{title}}</h2>
        <div class="detail__meta">
          <span class="detail__genre"><i class="fa-solid fa-list" style="color:var(--color-primary)"></i> {{category}}</span>
          <span class="detail__duration"><i class="fa-regular fa-clock" style="color:var(--color-primary)"></i> {{duration}}</span>
          <span class="detail__year"><i class="fa-regular fa-calendar" style="color:var(--color-primary)"></i> {{year}}</span>
          <span class="detail__views">{{min_age}} <i class="fa-regular fa-eye" style="color:var(--color-primary)"></i></span>
        </div>
        <p class="detail__description">{{description}}</p>
        <p class="detail__director"><strong>Directeur</strong> : {{director}}</p>
      </figcaption>
    </div>
</figure>
  