<form class="updateUser__form">
  <h2 class="form__title">Modifier un utilisateur</h2>
  <div class="form">
    <div class="form__group form__group--full">
      <div class="input__container">
        <label for="id">Utilisateurs</label>
        <select required class="category__container" name="id" id="userSelect"
          onclick="C.handleUserChange(this.value)">
          <option value="" disabled selected>Sélectionner un utilisateur</option>
          {{users}}
        </select>
      </div>
    </div>

    <div class="form__group form__group--full">
      <div class="input__container">
        <label for="name">Nom</label>
        <input type="text" id="name" name="name" placeholder="Jean.D" required>
      </div>
    </div>

    <div class="form__group form__group--full">
      <div class="input__container">
        <label for="image">Image (optionnel)</label>
        <input type="text" id="image" name="image" placeholder="no_user.jpg">
      </div>
    </div>

    <div class="form__group form__group--full">
      <div class="input__container">
        <label for="birth">Date de naissance</label>
        <input type="date" id="birth" name="birth" required>
      </div>
    </div>

    <div class="form__group form__group--full">
      <input class="button" type="button" onclick="{{handlerUpdateUser}}" value="Modifier l'utilisateur" name="todo">
    </div>
  </div>
</form>