<footer class="footer">
  <div class="footer__wrappper">
    <ul class="footer__columns">
      <li class="footer__col">
        <h2 class="footer__title">Programmes</h2>
        <div class="footer__lists">
          <ul class="footer__menu">
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Cinéma</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Séries</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Sport</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Jeunesse</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Docs</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Streaming</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Divertissement</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Info</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Musique</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Espace adulte</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Météo</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Programme tv</span>
              </a>
            </li>
          </ul>
          <ul class="footer__menu">
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">En direct</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Ligue 1</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Ligue des champions</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Premiere league</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Top 14</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Formule 1</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Moto GP</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">NBA</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">The Last of Us</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">House of the dragon</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Le compte de Monte-Cristo</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">César 2025</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Game of Thrones</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="footer__col">
        <h2 class="footer__title">Services et apps</h2>
        <div class="footer__lists">
          <ul class="footer__menu">
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Plan de site</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Espace Client</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Assitance</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Offres pour les professionnels</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">VOD</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CANAL+ Groupe</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Offres d'emploi</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">FAQ</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Taxonomie</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Experience CANAL+</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Décodeur CANAL+</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Chaine</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CANAL+</span>
              </a>
            </li>
          </ul>
          <ul class="footer__menu">
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">C8</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CSTAR</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CNEWS</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CINÉ+ OCS</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">MYTF1</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">france 2</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">france 3</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">france 5</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">M6</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">ARTE</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">beIN SPORTS</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">NETFLIX</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Apple TV+</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Max</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="footer__col">
        <h2 class="footer__title">Abonnements et infos légales</h2>
        <div class="footer__lists">
          <ul class="footer__menu">
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Nos offres</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Offres-26 ans</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Offres avec abonnement mensuel</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Offres avec abonnement 12 mois</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Offres avec abonnement 24 mois</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Offre CANAL+</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CANAL+ CINE SERIES</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CANAL+ SPORT</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CANAL+ SERIES</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CANAL+ FRIENDS & FAMILY</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CANAL+ Netflix</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CANAL+ et Paramount+</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">BEINSPORTS CONNECT</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Panorama</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CANALSAT</span>
              </a>
            </li>
          </ul>
          <ul class="footer__menu">
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Start by CANAL</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">TNT CANAL READY</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">J'ai un code</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Modalité des offres</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">CGA</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Fiche tarifaire</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Résiliation</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Rétractation</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Plan de site boutique</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Politique cookies</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Mentions légales</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Conditions générales d'utilisation
                </span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Données personnelles et confidentialité</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Kit presse</span>
              </a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">
                <span class="footer__text">Accessibilité (non conforme)</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="footer__col footer__col--last">
        <ul class="footer__social">
          <li class="footer__social-item">
            <a href="#">
              <img src="../server/images/logo_facebook.svg" alt="Logo icon" class="footer__icon">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#">
              <img src="../server/images/logo_x.svg" alt="Logo icon" class="footer__icon">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#">
              <img src="../server/images/logo_daly.svg" alt="Logo icon" class="footer__icon">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="">
              <img src="../server/images/logo_youtube.svg" alt="Logo icon" class="footer__icon">
            </a>
          </li>
        </ul>
        <div class="footer__bottom">
          <div class="footer__country">
            <span class="footer__country-text">France métropolitaine</span>
            <img src="../server/images/logo_drapeau.svg" alt="" class="footer__flag">
          </div>
          <p class="footer__desc">
            Vivez l'expérience CANAL+, La plateforme de streaming la plus
            complète qui réunit vos films, vos séries (en HD, VF et VOST)
            toute la TNT et les plus belles compétitions sportives en direct
            ou en replay. Le programme TV de ce soir, de la TNT et de toutes
            les chaînes est gratuit
          </p>
          <div class="footer__copyright">© CANAL+ 2024</div>
        </div>
      </li>
    </ul>
  </div>
</footer>