<nav class="navbar font-sans">
  <div class="navbar__logo">
    <img src="../server/images/logo.png" alt="Logo">
  </div>
  <ul class="navbar__list">
    <li class="navbar__item" onclick="C.handlerHome();"><i class="fa-solid fa-house"></i>Home</li>
    <li class="navbar__item" onclick="C.getFavorites()"><i class="fa-solid fa-heart"></i>Mes favoris</li>
  </ul>
</nav>


<div class="navbar__user">
  <span class="navbar__user--name">{{currentUser}}</span>
  <div class="navbar__image">
    {{userImage}}
  </div>
  <div class="dropdown">
    <ul>
      {{profils}}
    </ul>
  </div>
</div>