<nav class="navbar font-sans">
  <div class="navbar__logo" onclick="C.handlerHome();">
    <img src="../server/images/canalplus-logo.svg" alt="Logo">
  </div>
  <ul class="navbar__list">
    <li class="navbar__item" onclick="C.handlerHome();">Home</li>
    <li class="navbar__item" onclick="C.getFavorites()">Vos Favoris</li>
  </ul>
</nav>

<div class="navbar__user">
  <button class="navbar__search" id="navbar__search" aria-label="Recherche" onclick="C.renderSearchBar()">
    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 1664 1664">
      <path fill="currentColor"
        d="M1152 704q0-185-131.5-316.5T704 256T387.5 387.5T256 704t131.5 316.5T704 1152t316.5-131.5T1152 704m512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124q-143 0-273.5-55.5t-225-150t-150-225T0 704t55.5-273.5t150-225t225-150T704 0t273.5 55.5t225 150t150 225T1408 704q0 220-124 399l343 343q37 37 37 90">
      </path>
    </svg>
  </button>

  <span class="navbar__user--name">{{currentUser}}</span>

  <button class="navbar__button button">Nos Offres</button>

  <div class="navbar__image">
    {{userImage}}
  </div>
  <div class="dropdown">
    <ul>
      {{profils}}
    </ul>
  </div>
</div>