@layer reset, variables, components, utilities;

@import "./reset.css" layer(reset);
@import "./variables.css" layer(variables);
@import "./utilities.css" layer(utilities);

@import "../component/NavBar/style.css" layer(components);
@import "../component/CardMovie/style.css" layer(components);
@import "../component/MovieDetail/style.css" layer(components);
@import "../component/MovieCategory/style.css" layer(components);
@import "../component/NoResultCard/style.css" layer(components);
@import "../component/BookmarkResult/style.css" layer(components);
@import "../component/FeaturedMovie/style.css" layer(components);
@import "../component/SearchBar/style.css" layer(components);
@import "../component/TvCard/style.css" layer(components);
@import "../component/Feature/style.css" layer(components);
@import "../component/Footer/style.css" layer(components);


body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: var(--ff-canal);
    text-transform: uppercase;
    border-radius: 0.2rem;
    border: none;
    background: var(--color-primary-dark);
    color: var(--color-fg);
    cursor: pointer;
    transition: background 0.2s ease;
}

.button:hover {
    background: var(--color-primary) !important;
}

.button--secondary {
    background: var(--color-secondary);
    color: var(--color-fg);
}

.toast-message {
    font-family: var(--ff-sans) !important;
    font-size: 0.9rem !important;
    padding: 16px 24px !important;
    border-radius: 8px !important;
    display: flex !important;
    align-items: center !important;
    gap: 12px !important;
}

.toast-message i {
    font-size: 1.2rem !important;
    display: inline-flex !important;
}

.toastify {
    background-color: var(--color-primary) !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2) !important;
}

.toastify .toastify-progress {
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.5)) !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    height: 3px !important;
    width: 100% !important;
}

.toast-close {
    opacity: 0.7 !important;
    padding: 0 !important;
    margin-left: auto !important;
    font-size: 1.2rem !important;
    color: white !important;
    cursor: pointer !important;
    background: none !important;
    border: none !important;
}

.toast-close:hover {
    opacity: 1 !important;
}