:root {
  --background-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}

.detail__container {
  display: flex;
  justify-content: start;
  align-items: end;
  height: 40rem;
  gap: 2rem;
  background: var(--bg-image) no-repeat center center;
  background-size: cover;

}

.detail__button {
  text-transform: uppercase;
  width: fit-content;
  padding: 0.5rem 2.5rem;
  font-size: 1.2rem;

}


.detail__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 2rem;
  background-color: var(--bg-detail);
}

.detail__infos--left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 40%;
  gap: 1rem;
}

.detail__infos--right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 1rem;
}

.detail__infos--right p {
  color: var(--color-white);
  font-family: var(--ff-canal);
}

.detail__title {
  color: var(--color-fg);
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.2rem;
  font-family: var(--ff-canal);
  margin-bottom: 0.5rem;
}

.detail__meta {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  padding: 0 1rem;
  gap: 1rem;
}

.detail__meta p {
  color: var(--color-gray);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
}

.detail__description {
  font-family: var(--ff-sans);
  color: var(--color-white);
  opacity: 0.8;
  font-size: 1.2rem;
  line-height: 2rem;
}

.detail__video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin-left: 5rem;
}

.detail__menus {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.detail__menu:first-child {
  color: var(--color-fg);
}

.detail__menu {
  color: var(--color-gray);
  font-size: 1.9rem;
  font-weight: 600;
  font-family: var(--ff-canal);
  cursor: pointer;
}


.detail__menu:hover {
  color: var(--color-primary);
}


.detail__video-frame {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 80%;
  height: 30rem;
  border: none;
}

@media (max-width: 54rem) {
  .detail {
    flex-direction: column;
    align-items: start;
    margin-top: 5rem;
    padding-bottom: 7rem;
  }

  .detail__container {
    height: 50rem;
    padding: 0.5rem;
    margin: 2rem;
  }

  .detail__infos {
    flex-direction: column !important;
  }

  .detail__infos--left {
    max-width: 100%;
  }

  .detail__infos--right {
    max-width: 100%;
  }

  .detail__meta p {
    font-size: 0.8rem;
  }

  .detail__video {
    margin-left: 1rem;
    margin-top: 2rem;
  }
}