<figure class="detail font-sans">
  <div class="detail__container" style="--bg-image: url('../../../server/images/{{img}}');">
    <figcaption class="detail__infos flex-row">
      <div class="detail__infos--left">
        <h2 class="detail__title font-canal">{{title}}</h2>
        <div class="detail__meta">
          <p>{{category}}</p>
          <p>{{duration}}</p>
          <p>{{year}}</p>
        </div>
        <button class="detail__button button">
          <i class="fa-solid fa-play"></i> Lecture
        </button>
      </div>
      <div class="detail__infos--right">
        <p class="detail__description">{{description}}</p>
        <p><strong>De :</strong> {{director}}</p>
        <p><strong>Age :</strong> {{min_age}}</p>
        <button class="detail__button button button--secondary">Plus d'infos</button>
      </div>
    </figcaption>
  </div>
  <div class="detail__video">
    <div class="detail__menus">
      <h2 class="detail__menu">BANDE ANNONCE</h2>
      <h2 class="detail__menu">BONUS</h2>
      <h2 class="detail__menu">A VOIR AUSSI</h2>
      <h2 class="detail__menu">ACHETER</h2>
      <h2 class="detail__menu">PLUS D'INFOS</h2>

    </div>
    <iframe class="detail__video-frame" src="{{trailer}}" title="YouTube video player" allowfullscreen></iframe>
  </div>
</figure>