@layer reset, variables, components, utilities;

@import "./reset.css" layer(reset);
@import "./variables.css" layer(variables);
@import "./utilities.css" layer(utilities);

@import "../component/Log/style.css" layer(components);
@import "../component/AddMovie/style.css" layer(components);
@import "../component/AddUser/style.css" layer(components);




  .container{
    font-family: var(--ff-primary);
    background-color: var(--color-bg);
    padding: 0rem 2rem;
    gap: 2rem;
  }

  #form{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-family: var(--ff-nunito);
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
  }