@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");

:root {
  --clr-dark: hsl(253, 69%, 8%);
  --clr-light: hsl(0, 0%, 100%);

  --ff-sans: "DM sans", sans-serif;

  --char-index: 1;
}
